<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Article Archives</title>
  </head>

  <body>
    <h1>Submitted Articles</h1>
    <ul>
      <% @archive.each do |articles| %>
      <li>Description: <%= articles.title%> </li>
      <li>Url: <a href='/article/' target ="_blank"><%= articles.url%></a> </li>
      <li>Description: <%= articles.description%> </li>
      <%end%>
    </ul>

  </body>
</html>
