<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Article Archives</title>
  </head>

  <body>
    <h1>Articles</h1>
    <ul>
      <%  %>
      <%   %>
         <li><%= %></li>
      <%end%>
    </ul>

  </body>
</html>
